/* style the top navigation bar*/
.topnav
{ overflow: hidden;
  background-color: #333;
width: 21.79%; 
margin: center;}
/* Style the topnav links */
.topnav a {
  float: center;
  display: block;
  color: #ffffff;
  text-align: left;
  padding: 20px 22px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
header {text-align: center;
color: white;}



html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
}

article {
    text-align: justify;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ffffff;
}

nav li a.active {
    background-color: skyblue;
}

body{ background-image: url("afbeelding/achtergrond.jpg") ;
background-size: 125%;
height: 115%;
}








